html {
    min-height: 100%;
    border-top: 10px solid #ECEEF1;
    border-bottom: 10px solid #ECEEF1;
    color: #61666c;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, "Arial Light", Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
}

body {
    padding: 40px 20px 20px 20px;
    -webkit-backface-visibility: hidden;
    width: 90%;
    max-width: 60em;
    margin: 0 auto;
}

code {
    font-family: consolas, monospace;
}

a {
    color: #61666c;
}

a.clear {
    text-decoration: none;
}

a, img {
    border: none;
    outline: none;
}

a:hover {
    color: #2a2a2a;
}

h1.welcome {
    text-align: center;
    line-height: 1.5;
    font-size: 40px;
    font-weight: 300;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

p, details {
    margin-bottom: 1em;
}

li {
    padding-bottom: 1em;
}

.wrapper {
    margin: 0 auto;
}

/* Tables */
table {
    width: 100%;
    font-size: .85em;
}

form table {
    width: 100%;
    font-size: unset;
}

form.endotracker {
    width: 300px;
}

.helptext {
    font-size: .75em;
}

tr {
    outline: 0;
    border: 0;
}

table.decorated tr:hover td {
    background: #f6f6f6;
}

th {
    text-align: left;
    font-size: .85em;
    padding: 5px;
}

div.img {
    margin: auto;
    border: 1px solid #ccc;
    width: 80%;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* For the following elements, they are only applicable inside the wrapper class, which is only used in Apaxy. */

/* 2nd Column: Filename */

.wrapper th + th {
    width: 65%;
}

/* 3rd Column: Last modified */

.wrapper th + th + th {
}

/* 4th Column: Size */

.wrapper th + th + th + th {
    width: 5%;
}

.wrapper tr td:first-of-type {
    padding-left: 10px;
    padding-right: 10px;
}

table.decorated td {
    padding: 5px;
    vertical-align: middle;
    text-align: left;
    transition: background 300ms ease;
}

td a {
    display: block;
    text-decoration: none;
    line-height: 1.5;
}

td.min {
    width: 1%;
    white-space: nowrap;
}

.wrapper tr.parent a[href^="/"] {
    color: #9099A3;
}

.wrapper .parent a[href^="/"]:hover {
    color: #2281d0;
}

/* Footer */
.footer {
    padding-top: 30px;
    text-align: center;
    font-size: .75em;
}

/* CSS Menu Styles */

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu {
    border-bottom: 3px solid #bbb;
    padding: 0 5px;
    width: auto;
    font-family: Helvetica, Arial, sans-serif;
    background: #dddddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#cssmenu:after, #cssmenu ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu ul li {
    display: inline-block;
}

#cssmenu.align-right ul li {
    float: right;
}

#cssmenu.align-center ul {
    text-align: center;
}

#cssmenu ul li a {
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
    color: #0e83cd;
}

#cssmenu ul li:hover a, #cssmenu ul li a:hover, #cssmenu ul li.active a {
    color: #333333;
}

@media all and (max-width: 640px) {
    #cssmenu {
        padding: 0;
        border-radius: 0;
        border: 0;
    }

    #cssmenu ul li, #cssmenu.align-center, #cssmenu.align-right {
        display: block;
    }
}

.euro-home-office-blurred {
    background-image: url('http://i.imgur.com/fza2Pq0.jpg');
    box-shadow: 0 0 8px 8px white inset;
}

.serif {
    font-family: "Century", "Century Schoolbook", Georgia, serif;
}

.message {
    color: #1D2951;
    padding-left: 10px;
}

input[type=submit] {
    margin: 10px;
}

div.modify {
    text-align: center;
    margin-top: 10px;
}

textarea#id_recommendation {
    font-size: 10pt;
    font-family: monospace;
}

.grey-background {
    background-color: #ECEEF1
}

.resolution-text {
    padding: 1em;
    background-color: #ECEEF1;
}

.resolution-text br {
    display: block;
    margin-bottom: 1em;
    content: "";
}

.float-right {
    float: right;
    text-align: right;
}

.centre {
    text-align: center;
    margin: auto;
}