<div id="top_banner">
    <h1 class="welcome">Jiangbei National Library</h1>
</div>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">WA Office <span style="font-size: 75%;">▼</span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{{ site.baseurl }}/index.html">Voting records</a>
            <a href="{{ site.baseurl }}/nation-search.html">Individual nation vote records</a>
        </div>
    </div>
    <a href="https://bohaska-ns-issue-search.hf.space">Issues search</a>
    <a href="https://bohaska-ns-issue-search.hf.space">GA resolution search</a>
</div>