<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/custom.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/navbar.css">
    <script src="{{ site.baseurl }}/papaparse.min.js"></script>
    <script src="{{ site.baseurl }}/shared.js"></script>

    {% if page.custom_scripts %}
        {{ page.custom_scripts }}
    {% endif %}
</head>
<body>
    <div id="container">
        {% include header.html %}

        {{ content }}
    </div>
    {% include footer.html %}
</body>
</html>